<h1 class="resources-title">Gestión de Recursos</h1>

<div class="resources-button-row">
  <button id="" routerLink="#" mat-flat-button color="primary" disabled>Generar Reporte</button>
</div>

<mat-divider style="margin: 10px 5px;"></mat-divider>

<table mat-table [dataSource]="resources">
  <ng-container matColumnDef="recurso">
    <th mat-header-cell *matHeaderCellDef> Recurso </th>
    <td mat-cell *matCellDef="let resource">
      <a [routerLink]="['/recursos', resource.id]"> {{resource.name}} </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="proyecto">
    <th mat-header-cell *matHeaderCellDef> Proyecto </th>
    <td mat-cell *matCellDef="let resource"> {{resource.project ? resource.project.name : '-'}} </td>
  </ng-container>
  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef> Versión </th>
    <td mat-cell *matCellDef="let resource"> {{resource.project ? resource.project.currentVersion : '-'}} </td>
  </ng-container>
  <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef> Rol </th>
    <td mat-cell *matCellDef="let resource"> {{resource.role || '-' }} </td>
  </ng-container>
  <ng-container matColumnDef="disponibilidad">
    <th mat-header-cell *matHeaderCellDef> Disponibilidad </th>
    <td mat-cell *matCellDef="let resource"> {{resource.availability}} </td>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let resource">
      <button
        mat-raised-button
        color="primary"
        routerLink="/recursos/{{resource.id}}/asignar"
        [disabled]="!!resource.project"
      >
        Asignar
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let resources; columns: columnsToDisplay;"></tr>
</table>
