<div class="container" style="display:block;margin: 15px 15px;">
  <h2>Proyecto {{ projectId }} - Nueva Tarea</h2>

  <form [formGroup]="taskForm" (ngSubmit)="addTask()" class="task-form">
    <mat-form-field class="task-form-input">
      <input matInput placeholder="Titulo" [formControl]="taskForm.get('name')" [(ngModel)]="task.name">
    </mat-form-field>

    <mat-form-field class="task-form-input">
      <input matInput class="task-form-input" [formControl]="taskForm.get('estimatedTime')"
        placeholder="Tiempo estimado" type="number" [(ngModel)]="task.estimatedTime">
    </mat-form-field>

    <mat-form-field class="task-form-input">
      <input matInput class="task-form-input" [formControl]="taskForm.get('dedicatedTime')"
        placeholder="Tiempo dedicado" type="number" [(ngModel)]="task.dedicatedTime">
    </mat-form-field>

    <mat-form-field class="task-form-input">
      <mat-label>Prioridad</mat-label>
      <mat-select [(ngModel)]="task.priority" [formControl]="taskForm.get('priority')">
        <mat-option *ngFor="let priority of priorities" [value]="priority">
          {{ priority }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="task-form-input">
      <textarea matInput class="task-form-input" [formControl]="taskForm.get('description')" placeholder="Descripcion"
        [(ngModel)]="task.description"></textarea>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" type="submit" id="new-task-submit" value="Enviar" mat-raised-button
      color="primary">Crear</button>

    <p id="new-task-result" *ngIf="submitResultMessage">{{submitResultMessage}}</p>
  </form>

</div>