<div class="example-button-row">
  <button (click)="goBack()" mat-flat-button color="primary">Atras</button>
</div>

<mat-divider style="margin: 10px"></mat-divider>

<mat-card>
  <h4> Detalle del Ticket </h4>
  <div class="example-button-row">
    <button mat-flat-button color="primary"> {{ticket.estado}} </button>
  </div>
  <p> Numero de Ticket: {{ticket.numeroTicket}} </p>
  <p> Producto: {{ticket.producto}} {{ticket.vProducto}} </p>
  <p> Asunto: {{ticket.asunto}} </p>
  <p> SLA: </p>
  <p> Tipo de Ticket: {{ticket.tipo}} </p>
  <p> Fecha de Alta: {{ticket.fechaAlta?.toLocaleDateString()}} </p>
</mat-card>

<mat-divider style="margin: 10px"></mat-divider>

<mat-form-field>
  <mat-label>Departamento</mat-label>
  <mat-select [(value)]="inDepartamento">
    <mat-option *ngFor="let departamento of departamentos" [value]="departamento">
      {{departamento}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Severidad</mat-label>
  <mat-select [(value)]="inSeveridad">
    <mat-option *ngFor="let severidad of severidades" [value]="severidad">
      {{severidad}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Estado</mat-label>
  <mat-select [(value)]="inEstado">
    <mat-option *ngFor="let estado of estados" [value]="estado">
      {{estado}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Responsable</mat-label>
  <mat-select [(value)]="inResponsable">
    <mat-option *ngFor="let responsable of responsables" [value]="responsable">
      {{responsable}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="example-button-row">
  <button mat-flat-button color="primary" (click)="onClick()"> Aplicar cambios </button>
</div>

<mat-divider style="margin: 10px"></mat-divider>

<div class="example-button-row">
  <button routerLink="/ticketdetalle/{{ticket.numeroTicket}}/nuevatarea" mat-flat-button color="primary">Agregar tarea</button>
</div>

<mat-divider style="margin: 10px"></mat-divider>

<table mat-table [dataSource]="ticket.tareas">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="asignado">
    <th mat-header-cell *matHeaderCellDef> Asignado </th>
    <td mat-cell *matCellDef="let element"> {{element.asignee}} </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> estado </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>