<div class="container" style="display:block; margin: 15px 15px;">
  <h1 style="text-align: center;"> Portafolio de Proyectos</h1>
  <br>
  <h2>Detalle de Proyecto</h2>

  <br>

  <mat-tab-group style="border:1px solid #ccc; background-color: white;    border-radius: 16px;">
    <mat-tab label="Detalles">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <div class="subtitulo-detalle" style="display: inline; width: 20%">
            <b>Codigo</b>
          </div>
          {{project.code}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="subtitulo-detalle" style="display: inline; width: 20%">
            <b>Nombre</b>
          </div>
          {{project.name}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="subtitulo-detalle" style="display: inline; width: 20%">
            <b>Lider del Proyecto</b>
          </div>
          {{project.leader}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="subtitulo-detalle" style="display: inline; width: 20%">
            <b>Fecha de Inicio</b>
          </div>
          {{project.beginDate}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="subtitulo-detalle" style="display: inline; width: 20%">
            <b>Fecha de Fin</b>
          </div>
          {{project.endDate}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="subtitulo-detalle" style="display: inline; width: 20%">
            <b>Version Actual</b>
          </div>
          {{project.currentVersion}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="subtitulo-detalle" style="display: inline; width: 20%">
            <b>Version Actual</b>
          </div>
          {{project.currentVersion}}
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="subtitulo-detalle" style="display: inline; width: 20%">
            <b>Descripcion</b>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem"> {{project.description}}
        </mat-list-item>
      </mat-list>


    </mat-tab>
    <mat-tab label="Second"> Tareas</mat-tab>
    <mat-tab label="Third"> Riesgos </mat-tab>
  </mat-tab-group>


</div>