<div class="container" style="display:block; margin: 15px 15px;">
  <h1 style="text-align: center;"> Portafolio de Proyectos</h1>
  <br>
  <h2>Detalle de Proyecto</h2>

  <br>

  <button class="portafolio-proyectos-boton-acciones" mat-raised-button color="primary"
    routerLink="/proyecto/{{project.code}}/tareas">
    <mat-icon aria-hidden="false" aria-label="Tiene algun riesgo que supero el umbral">assignment</mat-icon>
    Ver Tareas
  </button>
  <button class="portafolio-proyectos-boton-acciones" mat-raised-button color="primary"
    routerLink="/proyecto/{{project.code}}/riesgos">
    <mat-icon aria-hidden="false" aria-label="Tiene algun riesgo que supero el umbral">assignment_late</mat-icon>
    Ver Riesgos
  </button>

  <div class="detalle-proyecto">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="subtitulo-detalle">
          <b>Codigo</b>
        </div>
        {{project.code}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="subtitulo-detalle">
          <b>Nombre</b>
        </div>
        {{project.name}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="subtitulo-detalle">
          <b>Lider del Proyecto</b>
        </div>
        {{project.leader.name}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="subtitulo-detalle">
          <b>Fecha de Inicio</b>
        </div>
        {{project.beginDate}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="subtitulo-detalle">
          <b>Fecha de Fin</b>
        </div>
        {{project.endDate}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="subtitulo-detalle">
          <b>Tipo de Proyecto</b>
        </div>
        {{project.type.name}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="subtitulo-detalle">
          <b>Version Actual</b>
        </div>
        {{project.currentVersion}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="subtitulo-detalle">
          <b>Descripcion</b>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem"> {{project.description}}
      </mat-list-item>
    </mat-list>
  </div>


</div>