mat-grid-tile {
  background: lightblue;
}

.description{
    background: lightgreen;
}

.container {
    margin: 5px;
    padding: 5px;
}

.projects-dashboard-table {
    width: 100%;
    background: none;
}

#new-project-button {
    margin-top: 10px;
}