<div class="container" style="display:block; margin: 15px 15px;">
  <h1 style="text-align: center;"> Portafolio de Proyectos</h1>
  <br>
  <br>
  <button id="botonito" class="portafolio-proyectos-boton-acciones" routerLink="/nuevo-proyecto" mat-raised-button color="primary">Crear Proyecto</button>
  <br>
  <h2>Listado de Proyectos</h2>
  <table mat-table [dataSource]="projects" class="mat-elevation-z8">

    <ng-container matColumnDef="riesgos">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let project" [ngClass]="{'tabla-fila-supero-el-umbral': project.atRisk()}">
        <mat-icon *ngIf="project.atRisk()" aria-hidden="false" matTooltip="Hay {{project.risksAboveThreshold().length}} riesgo de {{project.risks.length}} que superan el máximo umbral permitido"
          aria-label="Tiene algun riesgo que supero el umbral">warning</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef class="encabezado-tabla"> Codigo </th>
      <td mat-cell *matCellDef="let project" [ngClass]="{'tabla-fila-supero-el-umbral': project.atRisk()}">
        {{project.code}}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="encabezado-tabla"> Nombre </th>
      <td mat-cell *matCellDef="let project" [ngClass]="{'tabla-fila-supero-el-umbral': project.atRisk()}">
        {{project.name}} </td>
    </ng-container>

    <ng-container matColumnDef="currentVersion">
      <th mat-header-cell *matHeaderCellDef class="encabezado-tabla"> Version </th>
      <td mat-cell *matCellDef="let project" [ngClass]="{'tabla-fila-supero-el-umbral': project.atRisk()}">
        {{project.currentVersion}} </td>
    </ng-container>

    <ng-container matColumnDef="leader">
      <th mat-header-cell *matHeaderCellDef class="encabezado-tabla"> Lider</th>
      <td mat-cell *matCellDef="let project" [ngClass]="{'tabla-fila-supero-el-umbral': project.atRisk()}">
        {{project.leader}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="encabezado-tabla"> Tipo </th>
      <td mat-cell *matCellDef="let project" [ngClass]="{'tabla-fila-supero-el-umbral': project.atRisk()}">
        {{project.type.name}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef class="encabezado-tabla"> Estado </th>
      <td mat-cell *matCellDef="let project" [ngClass]="{'tabla-fila-supero-el-umbral': project.atRisk()}">
        {{project.state.name}} </td>
    </ng-container>

    <ng-container matColumnDef="dedicatedTime">
      <th mat-header-cell *matHeaderCellDef class="encabezado-tabla"> Horas dedicadas </th>
      <td mat-cell *matCellDef="let project" [ngClass]="{'tabla-fila-supero-el-umbral': project.atRisk()}">
        {{project.dedicatedTime()}} 
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="encabezado-tabla"> Acciones </th>
      <td mat-cell *matCellDef="let project" [ngClass]="{'tabla-fila-supero-el-umbral': project.atRisk()}">
        <button class="portafolio-proyectos-boton-acciones" mat-raised-button color="primary" routerLink="/proyecto/{{project.code}}/tareas">
          <mat-icon aria-hidden="false" aria-label="Tiene algun riesgo que supero el umbral">assignment</mat-icon>
          Tareas
        </button>
        <button class="portafolio-proyectos-boton-acciones" mat-raised-button color="primary" routerLink="/proyecto/{{project.code}}/detalle">
          <mat-icon aria-hidden="false" aria-label="Tiene algun riesgo que supero el umbral">description</mat-icon>
          Detalles
        </button>
        <button class="portafolio-proyectos-boton-acciones" mat-raised-button color="primary" routerLink="/proyecto/{{project.code}}/riesgos">
          <mat-icon aria-hidden="false" aria-label="Tiene algun riesgo que supero el umbral">assignment_late</mat-icon>
          Riesgos
        </button>
        <button class="portafolio-proyectos-boton-acciones  portafolio-proyectos-boton-error" *ngIf="estaEnCurso(project.state.name)"
          mat-raised-button color="primary" (click)="openCancelarDialog(project.code)">
          <mat-icon aria-hidden="false" aria-label="Tiene algun riesgo que supero el umbral">error</mat-icon>
          Cancelar
        </button>
        <button class="portafolio-proyectos-boton-acciones portafolio-proyectos-boton-success" *ngIf="estaEnCurso(project.state.name)"
          mat-raised-button color="primary" (click)="openFinalizarDialog(project.code)">
          <mat-icon aria-hidden="false" aria-label="Tiene algun riesgo que supero el umbral">done</mat-icon>
          Finalizar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>