mat-grid-tile {
  background: lightblue;
}

.description{
    background: lightgreen;
}

.tabla-fila-supero-el-umbral{
    background-color: #ff5252;
    color: white;
    font-weight: 600
}

.container {
    margin: 5px;
    padding: 5px;
}

.projects-dashboard-table {
    width: 100%;
    background: none;
}

#new-project-button {
    margin-top: 10px;
    margin-right: 10px;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
  }

  .portafolio-proyectos-boton-acciones{
      margin-right: 10px;
  }

  .portafolio-proyectos-boton-success{
    background-color: #4caf50;
}

.portafolio-proyectos-boton-error{
    background-color:#f44336;
}

  .encabezado-tabla{
    font-weight: 1000;
    font-size: 16px;
}

