
<h4>Nuevo Contrato:</h4>
<div class="form">
    <mat-form-field class="full-width">
      <mat-label>Client</mat-label>
      <mat-select [(ngModel)]="contract.clientCode">
        <mat-option *ngFor="let client of clients" [value]="client.code">
          {{client.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="pickerStart" [(ngModel)]="contract.startDate" placeholder="Fecha de incio">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="contract.endDate" placeholder="Fecha de Finalización">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" [(ngModel)]="contract.incidentLimit" matInput placeholder="Limite de incidentes">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" [(ngModel)]="contract.responseTime" matInput placeholder="Tiempo de respuesta (hs)">
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea [(ngModel)]="contract.description" matInput placeholder="Descripción"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea [(ngModel)]="contract.penalty" matInput placeholder="Penalidad"></textarea>
    </mat-form-field>

    
<button (click)="addContract()" mat-raised-button color="primary">Agregar</button>
</div>

