<div class="proyect-form-wrapper">
  <h3>Nuevo Proyecto</h3>

  <form [formGroup]="projectForm" (ngSubmit)="submit()" class="proyect-form">
    <mat-form-field class="proyect-form-input">
      <input matInput placeholder="Nombre" [formControl]="projectForm.get('name')" id="new-project-name">
    </mat-form-field>
    
    <mat-form-field class="proyect-form-input">
      <input matInput class="proyect-form-input" placeholder="Codigo" [formControl]="projectForm.get('code')" id="new-project-code">
    </mat-form-field>

    <mat-form-field class="proyect-form-input">
      <input matInput class="proyect-form-input" placeholder="Lider de Proyecto" [formControl]="projectForm.get('leader')" id="new-project-leader">
    </mat-form-field>

    <mat-form-field class="proyect-form-input">
      <input matInput [matDatepicker]="picker" placeholder="Fecha Inicio" [formControl]="projectForm.get('beginDate')" id="new-project-begin-date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field class="proyect-form-input">
      <input matInput [matDatepicker]="endPicker" placeholder="Fecha Fin" [formControl]="projectForm.get('endDate')" id="new-project-end-date">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
      
    <mat-form-field class="proyect-form-input">
      <input matInput class="proyect-form-input" placeholder="Descripcion" [formControl]="projectForm.get('description')" id="new-project-description">
    </mat-form-field>
  
    <input class="submit-input" type="submit" id="new-project-submit" value="Enviar" />
  </form>
</div>

<p id="new-project-result" *ngIf="submitResultMessage">{{submitResultMessage}}</p>
