<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <h1>PSA System</h1>
    <div class="button-row">
      <button id="nav-router-proyectos" routerLink="/proyectos" mat-stroked-button>Proyectos</button>
    </div>
    <div class="button-row">
      <button id="nav-router-equipos" routerLink="/equipos" mat-stroked-button>Equipos</button>
    </div>
    <div class="button-row">
      <button id="nav-router-operaciones" routerLink="/operaciones" mat-stroked-button>Operaciones</button>
    </div>
    <div class="button-row">
      <button id="nav-router-productos" routerLink="/productos" mat-stroked-button>Productos</button>
    </div>
    <div class="button-row">
      <button id="nav-router-contratos" routerLink="/contratos" mat-stroked-button>Contratos</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--CONTENIDO PRINCIPAL-->
    <router-outlet></router-outlet>
    <!--FOOTER-->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>