<mat-toolbar color="primary">
  <span style="cursor:pointer">PSA Integrated Managment System</span>

  <div class="button-row">
    <button id="nav-router-proyectos" routerLink="/proyectos" mat-stroked-button>Proyectos</button>
    <button id="nav-router-equipos" routerLink="/equipos" mat-stroked-button>Equipos</button>
    <button id="nav-router-operaciones" routerLink="/operaciones" mat-stroked-button>Operaciones</button>
    <button id="nav-router-productos"  routerLink="/productos" mat-stroked-button>Productos</button>
    <button id="nav-router-contratos"  routerLink="/contratos" mat-stroked-button>Contratos</button>
  </div>
</mat-toolbar>

<!--CONTENIDO PRINCIPAL-->
<div>
  <router-outlet></router-outlet>
</div>

<!--FOOTER-->
<app-footer ></app-footer>