.button-row button,
.button-row a {
  margin: 5px 5px;
  width: 150px;
}

mat-sidenav {
  text-align: center;
  width: 205px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

h1 {
  margin: 10px;
}