<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>PSA System</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="button-row">
      <button id="nav-router-proyectos" routerLink="/proyectos" mat-raised-button>Proyectos</button>
    </div>
    <div class="button-row">
      <button mat-raised-button>Recursos</button>
    </div>
    <div class="button-row">
        <button id="nav-router-clientes" routerLink="/clientes" mat-raised-button>Clientes</button>
    </div>
    <div class="button-row">
      <button id="nav-router-productos" routerLink="/productos" mat-raised-button>Productos</button>
    </div>
    <div class="button-row">
      <button id="nav-router-contratos" routerLink="/contratos" mat-raised-button>Contratos</button>
    </div>
    <div class="button-row">
      <button id="nav-router-soporte" routerLink="/soporte" mat-raised-button>Soporte</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <!--CONTENIDO PRINCIPAL-->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>