mat-grid-tile {
  background: lightblue;
}

.description{
    background: lightgreen;
}

.container {
    margin: 5px;
    padding: 5px;
}

.projects-dashboard-table {
    width: 100%;
    background: none;
}

#new-project-button {
    margin-top: 10px;
    margin-right: 10px;
}



table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
  }

  .portafolio-proyectos-boton-acciones{
      margin-right: 10px;
  }

  .proyect-form-wrapper {
    margin: 5px;
    padding: 5px;
}

.risk-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
    border:1px solid #ccc;
     background-color: white;
     padding:10px 20px;
}

.proyect-risk-input {
    width: 100%;
}

.alineado-derecha {
    display: block;
    margin: 0 0 0 auto;
}

  