<div class="container" style="display:block;margin: 15px 15px;">
  <h1 style="text-align: center;"> Portafolio de Proyectos</h1>
  <br>
  <br>
  <h2>Crear Riesgo</h2>
  <form [formGroup]="riskForm" (ngSubmit)="submit()" class="risk-form">
    <mat-form-field class="risk-form-input">
      <input matInput placeholder="Motivo" required [formControl]="riskForm.get('motive')" id="new-risk-motive">
    </mat-form-field>

    <mat-form-field class="risk-form-input">
      <input matInput class="risk-form-input" required placeholder="Descripcion" [formControl]="riskForm.get('description')" id="new-risk-description">
    </mat-form-field>

    <mat-form-field class="proyect-form-input">
      <mat-select [formControl]="riskForm.get('impact')" placeholder="Impacto del Riesgo">
        <mat-option [value]="0.2">Bajo</mat-option>
        <mat-option [value]="0.5">Medio</mat-option>
        <mat-option [value]="0.8">Alto</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="proyect-form-input">
      <mat-select [formControl]="riskForm.get('probability')" placeholder="Probabilidad del Riesgo">
        <mat-option [value]="0.2">Bajo</mat-option>
        <mat-option [value]="0.5">Medio</mat-option>
        <mat-option [value]="0.8">Alto</mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary"  type="submit" id="new-risk-submit" value="Enviar">Crear</button>
  </form>

  <p id="new-risk-result" *ngIf="submitResultMessage">{{submitResultMessage}}</p>
</div>