<h1>Asignar Recurso: {{resource.name}}</h1>

<form #f="ngForm" [formGroup]="asignForm" (ngSubmit)="onSubmit(f)">
  <div formArrayName="roleAndHoursForm">
    <mat-list>
      <mat-list-item
        *ngFor="let project of projects, let $index = index"
        class="list-item"
        [class.selected]="project.code === selection"
      >
        <span class="name" (click)="toggleProjectSelection(project.code)">
          {{project.name}}
        </span>
        <div class="controls" [formGroupName]="$index">
          <mat-form-field class="roles-select">
            <mat-select placeholder="Rol" formControlName="role" required>
              <mat-option *ngFor="let role of roles" [value]="role">
                {{role}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="hours-select">
            <input
              matInput
              type="number"
              placeholder="Horas"
              formControlName="hours"
              min="1"
              [max]="resource.availability"
              required
            />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            [disabled]="project.code !== selection"
            type="submit"
            (click)="indexSelected=$index"
          >
            Confirmar
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</form>
