.selected {
  background: lightblue;
}

.container {
  display: flex;
  flex-direction: column;
}

.checkbox {
  padding-right: 20px;
}

.project-name {
  width: 100%;
}

.roles-select {
  width: 250px;
  margin-right: 10px;
}

.hours-select {
  margin-right: 10px;
}

.assign-button {
  justify-self: flex-end;
}
